<div>
  <h1 class="font-bold text-4xl">Create a public inbox</h1>
  <p>
    Engage with your audience
  </p>
</div>

<div>
  <h1 class="font-bold text-4xl">Usecases</h1>
  <p>
    Collect <b>user feedback</b>
  </p>
  <p>
    Gather <b>content suggestions</b>
  </p>
</div>
