<div data-controller="autohide" data-action="click->autohide#dismiss" class="cursor-pointer">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, id: key, class: 'py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block' %>
  <% end %>
</div>